# Anna LLM Service - GPT4 Configuration
AZURE_OPENAI_API_KEY_ANNA_GPT4O=""
AZURE_OPENAI_ENDPOINT_ANNA_GPT4O=""
MODEL_NAME_ANNA_GPT4O=""
DEPLOYMENT_NAME_ANNA_GPT4O=""
OPENAI_API_VERSION_ANNA_GPT4O=""
OPENAI_API_TYPE_ANNA_GPT4O=""